*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 100px;
}
img {
    max-width: 100%;
}
body {
    font-family: "Poppins", sans-serif;
    line-height: 1.5rem;
    overflow-x: hidden;
}


.logo img{
    height: 70px;
}
header {
    background-color: #131416;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    display: inline-block;
    transition: all .2s ease-in-out;
}
nav a:hover {
    transform: translateY(-3px);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 4rem;
}


/* -------------    QUOTE      ------------- */

.quote {
    background-color: #131416;
    padding: 160px 220px;
}
.quote h1{
    font-size: 7rem;
    line-height: 1.1;
    font-weight: 400;
    margin: 0 auto;
    color: white;
    margin-bottom: 60px;
    z-index: 5;
}
.quote .btn {
    padding: 20px 50px;
    z-index: 1;
    position: relative;
    text-decoration: none;
    color: white;
    border: 2px white solid;
    border-radius: .3rem;

    transition: all .15s ease-in-out;
}
.quote .btn:hover {
    background-color: white;
    color: #131416;
}


/* -------------    BUBBLES      ------------- */

.quote .bubble1,
.quote .bubble2 {
    position: absolute;
    pointer-events: none;
    
}
.quote .bubble1 {
    top: -160px;
    right: -150px;
    width: 70%;
    transform: rotate(15deg);
    z-index: 0;

    animation: floatBbls 3s ease-in-out infinite;
}
.quote .bubble2 {
    width: 70%;
    left: -380px;
    top: 170px;
    z-index: 0;

    animation: floatBbls 2s 1s ease-in-out infinite;
}

/* -------------    ANIMTION (FOR BUBBLES)      ------------- */

@keyframes floatBbls {
    0% {
        transform: translateY(0) translateX(0);
    }

    50% {
        transform: translateY(-13px) translateX(3px);
    }

    100% {
        transform: translateY(0) translateX(0);
    }
}






#about_us {
    background-color: #131416;
    color: white;
    padding: 120px 220px;
}
#about_us .bubble3 {
    position: absolute;
    pointer-events: none;
    transform: rotate(180deg);
    left: -300px;
    animation: floatBbls 4s ease-in-out infinite;
}
#about_us .title{
    font-size: 4em;
    margin-bottom: 60px;
}
.our_info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.pri_focus, 
.vision,
.our_location{
    border: 2px white solid;
    border-radius: .3rem;
    padding: 30px;
    display: flex;
    gap: 20px;
    transition: all .2s ease-in-out;
}

.pri_focus {
    grid-area: 1 / 1 / 2 / 2;
    box-shadow: #3c00f733 0px 7px 29px 0px;
}
.pri_focus h2,
.vision h2,
.our_location h2{
    margin-bottom: 10px;
}
.pri_focus:hover,
.vision:hover,
.our_location:hover {
    background-color: white;
    color: #131416;
}


.vision {
    grid-area: 2 / 1 / 3 / 2;
    box-shadow: #c505ff33 0px 7px 29px 0px;
}
.vision ul{
    padding-left: 20px;
}
.our_location {
    grid-area: 1 / 2 / 3 / 3;
    box-shadow: #e94c7b33 0px 7px 29px 0px;
    transition: all .2s ease-in-out;
    flex-direction: column;
    justify-content: flex-end;
}





















footer {
    padding-top: 50px;
    background-color: #131416;
    color: white;
}
footer ul{
    list-style: none;
}
footer h2{
    margin-bottom: 20px;
}

footer .contacts_socials{
    display: flex;
    gap: 500px;

    padding: 10px 50px;
}
.contacts_block {
    display: flex;
    gap: 5rem;
}
.contacts_block h3{
    margin-bottom: 15px;
}

#socials .links{
    display: flex;
    flex-direction: column;
}
#socials .links a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    transition: all .2s ease-in;
}
#socials .links a:hover {
    transform: translateY(-2px);
}
#socials .links a i{
    margin-right: 15px;
}




#copyright {
    background-color: #13141625;
    color: white;
    text-align: center;
    padding: 30px 0;
}